<app-layout>
</app-layout>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="imageDivBackground" style="background-image: url(../../../assets/images/black.jpeg)"></div>
            </div>
            <div class="col-6 col-md-8" *ngIf="movieData">
                <div class="movieTitle">
                    <h1>{{ movieData.title }}</h1>
                    <h3>{{ movieData.year }}</h3>
                    <h3 >
                        <span *ngFor="let genre of movieData.genres">{{ genre }} </span>
                    </h3>
                    <h3><i class="fa fa-imdb"> 6.1</i></h3> 
                    
                </div>
            </div>
            <div class="col-12 col-md-8 py-4 bg-black">
                    <video src=""></video>
            </div>
            <div class="col-12 col-md-4 py-4">
                <h2>Synopsis</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi 
                    nobis ducimus totam nostrum eos, saepe rem esse, eius odio odit, 
                    architecto pariatur 
                    illum quod quos eveniet repellat laudantium maiores aspernatur! 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi 
                    nobis ducimus totam nostrum eos, saepe rem esse, eius odio odit, 
                    architecto pariatur 
                    illum quod quos eveniet repellat laudantium maiores aspernatur!
                </p>
            </div>
            <div class="col-12">
                <h2 class="text-center">Cast</h2>
                <div class="row">
                    <div class="col-6 col-md-3">dsf</div>
                    <div class="col-6 col-md-3">fdas</div>
                    <div class="col-6 col-md-3">adsf</div>
                    <div class="col-6 col-md-3">dsfg</div>
                </div>
            </div>
        </div>
    </div>
	  