<app-layout>
</app-layout>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="imageDivBackground" [style.background-image]="'url(' + movieData.large_cover_image + ')'"></div>
            </div>
            <div class="col-12 col-md-8" *ngIf="movieData">
                <div class="movieTitle">
                    <h1>{{ movieData.title }}</h1>
                    <h3>{{ movieData.year }}</h3>
                    <h3 >
                        <span *ngFor="let genre of movieData.genres">{{ genre }} </span>
                    </h3>
                    <h3 *ngIf="movieData.rating"><i class="fa fa-imdb"> {{movieData.rating}}</i></h3>
                    
                </div>
            </div>
            <div class="col-12 col-md-8 py-4">
                <h2>Synopsis</h2>
                <p>
                    {{movieData.description_full}}
                </p>
            </div>
            <div class="col-12 col-md-4 py-4">
                <h3>Director</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{movieData.director}}</li>
                </ul>
                <h3>Cast</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div id="comments" class="col-12 py-4">
                <h3 class="text-center comments">Comments</h3>
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-2">
                            <div class="imageDivRound"></div>
                        </div>
                        <div class="col-8 col-md-9 col-lg-10">
                            <p><strong>swilson</strong></p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis iste quos tempora mollitia assumenda, 
                                hic ut expedita dolorem debitis temporibus atque, quibusdam pariatur. Molestiae porro voluptatum harum magnam. Dolor, eveniet.
                            </p>
                            <p><strong>date</strong></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-2">
                            <div class="imageDivRound"></div>
                        </div>
                        <div class="col-8 col-md-9 col-lg-10">
                            <p><strong>swilson</strong></p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiatur. Molestiae porro voluptatum harum magnam. Dolor, eveniet.
                            </p>
                            <p><strong>date</strong></p>
                        </div>
                    </div>
                    <hr>
            </div>
    </div>
	  