/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    background-color: azure;
    padding-bottom: 50px;
  }
  .imageDivBackground {
    /* border: 2px solid #444; */
    width: 100%;
    border: 5px solid #fff;
    padding-bottom: 160%;
    position: relative;
    border-radius: 5px;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .imageDivSquare {
    /* border: 2px solid #444; */
    width: 100%;
    border: 5px solid #fff;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
  }

  .imageDivRound {
    /* border: 2px solid #444; */
    width: 100%;
    border: 5px solid #fff;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    background-color: black;
  }

  .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}