/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    background-color: azure;

  }
  .imageDivBackground {
    /* border: 2px solid #444; */
    width: 100%;
    border: 5px solid #fff;
    padding-bottom: 160%;
    position: relative;
    border-radius: 5px;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .imageDivSquare {
    /* border: 2px solid #444; */
    width: 100%;
    border: 5px solid #fff;
    padding-bottom: 100%;
    position: relative;
    border-radius: 5px;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }